- name: Ensure app base directory exists
  become: true
  ansible.builtin.file:
    path: /opt/app
    state: directory
    mode: '0755'

- name: Create file for local group
  ansible.builtin.copy:
    dest: /opt/app/local.txt
    content: |
      Hosts: {{ inventory_hostname }}
      Group: local
  when: group_names== "local"

- name: Create file for web group
  ansible.builtin.copy:
    dest: /opt/app/web.txt
    content: |
      Hosts: {{ inventory_hostname  }}
      Group: local
  when: group_names== "web"

